html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
    src: local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

button {
    padding: 0;
    border: none;
    /* background-color: transparent; */
    cursor: pointer;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    color: black;
}

.container {
    position: relative;
    width: 1750px;
    padding: 0 150px;
    margin: 0 auto;

}

.form-box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(190, 190, 190, 15%);
}

.form-list {
    position: relative;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 80px 50px 80px 50px 80px;
    margin: 200px auto;
    padding: 20px;
    width: 1320px;
    height: 700px;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    border: 2px solid black;
}

.closed-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 27px;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out color;
}

.closed-button:hover {
    color: red;
}

.about-input {
    font-size: 30px;
}

.input {
    font-size: 30px;
}

.form-btn {
    font-size: 40px;
}

.error-place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.add-student {
    position: absolute;
    top: 600px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    font-size: 50px;
}

.structure-box {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100%;
    /* border: 1px solid black; */
    text-align: center;
}

.filter-row {
    padding-top: 8px;
    font-size: 30px;
}

.numbers {
    font-size: 35px;
}

.btn {
    font-size: 30px;
}

.list {
    border: 1px solid gray
}

.table-items {
    grid-column: 4 span;
}

.table-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-sett {
    display: flex;
    
    align-items: center;
    font-size: 25px;
}

